{% if items %}
    <div class="submenu_wrapper">
        <div class="container">
            <div class="submenu_inner_wrapper">
                <div class="submenu_items">
                    <h3>{{ title }}</h3>
                    <ul>
                        {% for item in items %}
                            <li class="{{ item.classes | join(' ') }}">
                                <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                                {% include "menu.twig" with {'items': item.children} %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="submenu_image"></div>
            </div>
        </div>
    </div>


{% endif %}
